@model Opponent

<div class="offset-3 col-6 border">
    <form method="post" enctype="multipart/form-data">
        <div class="bg-info text-white  h1 p-3">Add Opponents</div>
        <div class="offset-2 col-8 mb-3 mt-2">
            <label class="form-label" asp-for="@Model.ClubName"></label>
            <input asp-for="@Model.ClubName" class="form-control" />
            <span asp-validation-for="@Model.ClubName" class="text-danger"></span>
        </div>
        <div class="offset-2 col-8 mb-3">
            <label class="form-label" asp-for="@Model.Logo"></label>
            <input type="file" id="logo" name="logo" class="form-control" />
        </div>

        <div class="offset-2 col-8">
            <input type="submit" class="btn btn-primary" />
        </div>
       
    </form>

</div>
